
<div class="page-content">

    <!-- Header Bar -->
    <div class="row header col-xs-12">
      <div class="user pull-right">
        <div class="item dropdown">
          <a href="#" class="dropdown-toggle"><img src="../../../assets/img/avatar.jpg" alt=""></a>
        </div>
      </div>
      <div class="meta">
        <div class="page">Dashboard</div>
        <div class="breadcrumb-links">Home / User</div>
      </div>
    </div>
    <!-- End Header Bar -->

    <div ui-view></div>

</div><!-- End Page Content -->